<h2>新規投稿</h2>

<%= form_with model: @post, url: admin_create_post_path, local: true, html: { multipart: true } do |f| %>

  <!-- タイトル -->
  <div>
    <%= f.label :title, "タイトル" %>
    <%= f.text_field :title %>
  </div>

  <% (1..10).each do |i| %>
    <div>
      <%= f.label "content#{i}", "本文#{i}" %>
      <%= f.text_area "content#{i}" %>

      <%= f.label "image#{i}", "画像#{i}" %>
      <%= f.file_field "image#{i}" %>
    </div>
  <% end %>

  <%= f.submit "投稿する" %>
<% end %>