<!-- ヘッダー -->
<header class="header">
  <div class="home-hero"></div>
  <div class="home-Twitter"></div>
  
  <nav class="nav_like">
    <ul class="nav">
      <li><a href="#">Home</a></li>
      <li><a href="#">Fishing Spots</a></li>
      <li><a href="#">Gear</a></li>
      <% if session[:admin_id] %>
        <li><%= link_to "管理者投稿", new_admin_post_path %></li>
      <% end %>
    </ul>
  </nav>
  <% if session[:admin_id] %>
    <% admin = Admin.find_by(id: session[:admin_id]) %>
    管理者：<%= admin.username %>
    <%= button_to "ログアウト", admin_logout_path %>
  <% else %>
    <%= link_to "管理者", admin_login_path %>
  <% end %>
</header>

<!-- メイン部分 -->
<body>
  <section class="top-four-posts">
    <% @posts.select { |p| (1..10).any? { |i| p.send("image#{i}").attached? }}.first(4).each do |post| %>
      <% image = (1..10).map { |i| post.send("image#{i}") }.find(&:attached?) %>

      <% if image %>
        <div class="post-item">
          <%= link_to post_path(post) do %>
            <%= image_tag image, class: "top-image" %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </section>
</body>

<!-- フッター -->
<footer class="footer">
  <p>© 2025 Tsuri Blog</p>
</footer>