<h2>投稿の詳細</h2>

<section>
  <figure>
    <figcaption>画像1</figcaption>
    <% if @post.image1.attached? %>
      <%= image_tag @post.image1 %>
    <% end %>
    <p><%= @post.content1 %></p>
  </figure>

  <figure>
    <figcaption>画像2</figcaption>
    <% if @post.image2.attached? %>
      <%= image_tag @post.image2 %>
    <% end %>
    <p><%= @post.content2 %></p>
  </figure>

  <figure>
    <figcaption>画像3</figcaption>
    <% if @post.image3.attached? %>
      <%= image_tag @post.image3 %>
    <% end %>
    <p><%= @post.content3 %></p>
  </figure>
</section>